.content{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
}

.header{

}

.search-frame{
  float: left;
  width: 30%;
}

.app-button{
  text-align: right;
}

.cards{

}

.card{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
