<nz-layout>
  <nz-header>
    <nz-divider nzDashed [nzText]="text">
      <ng-template #text><i nz-icon type="align-center" theme="outline"></i>个人资料</ng-template>
    </nz-divider>
    <div nz-row >
        <div nz-col nzSpan="5">
          <ul nz-menu [nzMode]="'horizontal'">
              <li nz-menu-item>
                <a [routerLink]="['admin-personal-data-1']"><i nz-icon type="idcard"></i>个人信息</a>
              </li>
              <li nz-menu-item>
                <a [routerLink]="['admin-personal-data-2']"><i nz-icon type="safety"></i>安全</a>
              </li>
          </ul>
        </div>
        <div nz-col nzSpan="10"></div>
      </div>
  </nz-header>

  <nz-content>
    <nz-content style="padding:50px 50px;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-content>

</nz-layout>
