/*:host {*/
  /*text-align: center;*/
/*}*/

:host ::ng-deep .ant-layout-header,
:host ::ng-deep .ant-layout-footer {
  background: #fff;
  color: black;
}

:host ::ng-deep .ant-layout-footer {
  line-height: 1.5;
}

:host ::ng-deep .ant-layout-sider {
  background: #fff;
  color: black;
  line-height: 120px;
}

:host ::ng-deep .ant-layout-content {
  background: #fff;
  color: black;
  min-height: 120px;
  line-height: 120px;
}

:host > ::ng-deep .ant-layout {
  margin-bottom: 48px;
}

:host ::ng-deep .ant-layout:last-child {
  margin: 0;
}

