.logd{

    box-sizing: border-box;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-bottom: 0px;
    padding-left: 3rem;
    justify-content:center;
}

.logd1{
    box-shadow: 
    0 2px 3px hsla(0,0%,4%,.1), 
    0 0 0 1px hsla(0,0%,4%,.1);
    background: #f8f8f8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 30%;
    margin:0 auto
}

.logp{
    font-size: 1.5rem;
}
hr{
    background-color: #edd7d7;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
    margin-top: 1.5rem;
    margin-right: 0px;
    margin-bottom: 1.5rem;
    margin-left: 0px;
}

.logbtn{
    display:block;
    margin:0 auto;
    border-radius: 48px;
    min-width: 120px;
    background-color: #c5c7c8;
}

.btnsd:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

