<div class="content">
  <div class="header">
    <div class="search-frame">
      <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
        <input type="text" nz-input placeholder="搜索测试...">
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon type="search"></i></button>
      </ng-template>
    </div>
    <div class="app-button">
      <button nz-button nzType="primary" [nzSize]="size" (click)="addSure()"><i nz-icon type="plus" theme="outline"></i>添加测试</button>
    </div>
  </div>
  <div>
    <nz-divider nzDashed [nzText]="text">
      <ng-template #text><i nz-icon type="align-center" theme="outline"></i>测试集</ng-template>
    </nz-divider>
  </div>

  <router-outlet></router-outlet>

  <!--添加测试对话框-->
  <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"[nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="addVisible" nzTitle="Create" (nzOnClose)="addCancel()">
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">测试名称</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input placeholder="title" [(ngModel)]="title" name="title">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-label [nzSpan]="6">测试难度</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select style="width: 120px;" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose" name="type">
            <nz-option nzValue="简单" nzLabel="简单"></nz-option>
            <nz-option nzValue="中等" nzLabel="中等"></nz-option>
            <nz-option nzValue="困难" nzLabel="困难"></nz-option>
            <nz-option nzValue="其他" nzLabel="其他" nzDisabled></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-label [nzSpan]="6">测试描述</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <textarea rows="4" nz-input name="content"></textarea>
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
        <nz-form-label [nzSpan]="6">起止时间</nz-form-label>
        <nz-form-control>
          <nz-range-picker></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div class="footer">
      <button type="button" (click)="addCancel()" class="ant-btn" style="margin-right: 8px;"><span>关闭</span></button>
      <button type="button" (click)="addCancel()" class="ant-btn ant-btn-primary"><span>提交</span></button>
    </div>
  </nz-drawer>

</div>
