<div nz-row class="nav-big">
  <div nz-col [nzLg]="12" [nzMd]="10" [nzSm]="8" [nzXs]="8" class="navigation">
    <div nz-row>
      <div nz-col [nzLg]="6" [nzMd]="6" [nzSm]="8" [nzXs]="8"  class="logo">
        <a [routerLink]="['home']"><img src="../assets/img/logo-nav.png" class="logo-img"></a>
      </div>
      <div nz-col [nzLg]="14" [nzMd]="0" [nzSm]="0" [nzXs]="0">
        <ul nz-menu [nzMode]="'horizontal'" class="nav-menu">
          <li nz-menu-item><a [routerLink]="['problems']">题库</a></li>
          <li nz-menu-item><a [routerLink]="['about']">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
