<div nz-row class="nav-big">
  <div nz-col [nzLg]="12" [nzMd]="10" [nzSm]="8" [nzXs]="8" class="navigation">
    <div nz-row>
      <div nz-col [nzLg]="6" [nzMd]="6" [nzSm]="8" [nzXs]="8" class="logo">
        <a [routerLink]="['home']"><img src="../assets/img/logo-nav.svg" class="logo-img"></a>
      </div>
      <div nz-col [nzLg]="14" [nzMd]="0" [nzSm]="0" [nzXs]="0" class="left">
        <ul nz-menu [nzMode]="'horizontal'" class="nav-menu">
          <li nz-menu-item><a [routerLink]="['problems']" class="item">卷库</a></li>
          <li nz-menu-item><a [routerLink]="['ranks']" class="item">排名</a></li>
          <li nz-menu-item><a [routerLink]="['text']" class="item">测试</a></li>
          <li nz-menu-item><a [routerLink]="['about']" class="item">关于</a></li>
          <li nz-menu-item><a [routerLink]="['admin-main-page']" class="item">go back end</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
